body {
    background-image: url("http://localhost:8080/fond.png");
}

.plateau {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.card {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card1 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-image: url("http://localhost:8080/gris.png");
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card2 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-image: url("http://localhost:8080/noir.png");
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card3 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-image: url("http://localhost:8080/bleu.png");
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}