body {
    background-image: url("http://localhost:8080/fond.png");
}

.plateau {
    margin: 0;
    width: 100vw;
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: #008cff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}
.mdm {
    background-color: #008cff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}
.mdi {
    background-color: #008cff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}
.random {
    background-color: #008cff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}
.text {
    padding: 10px 15px;
    margin: 8px 0;
    font-size: 16px;
    border: 2px solid #008cff;
    outline: none;
  }
.text1 {
   padding: 10px 15px;
   margin: 8px 0;
   font-size: 16px;
   border: 2px solid #008cff;
   outline: none;
}
.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.indice {
    position: relative;
    width: 150px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 16px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-color: #fbff00;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card1 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-image: url("http://localhost:8080/gris.png");
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card2 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-image: url("http://localhost:8080/noir.png");
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.card3 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 20/13;
    font-size: 30px;

    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
    background-image: url("http://localhost:8080/bleu.png");
    background-size: 100% 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}